
body{
    background-color: #00aae4;
    text-align: center;
    margin-top: 20px 20px 20px 20px; 

}

h1{
    font-weight: 100 ;
    font-size: 500%;
color: #ffffff;
margin: 20px 20px 20px 20px; 
animation-duration: 3s;
    animation-name: slidein;

}
h3{
    font-weight: 100 ;
    font-size: 250%;
font-family: Georgia, 'Times New Roman', Times, serif;
    color: #efe44a;
    margin: 20px 20px 20px 20px; 
    animation-duration: 3s;
    animation-name: slidein;
}

form{
    margin-top: 50px;
    background-color: #0e1753;
    border-radius: 25px;
    padding-top: 120px;
    padding-block-end: 120px;
    height: 300px;
}

input { 
    cursor: pointer; 
    border: 1px solid #ccc; 
    background: #eee; 
    border-radius: 20px 20px 20px 20px; 
    height: 50px;
    width: 300px;

    font-size: 20px;
    
    
} 


@keyframes slidein {
    from {
      margin-left: 0%;
      width:300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  