
body{
    background-color: #00aae4;
    text-align: center;
    margin: 20px 250px 20px 250px; 

}

h1{
    font-weight: 100px ;
    font-size: 250%;
    color: #efe44a;
    animation-duration: 3s;
    animation-name: slidein;
}
h2{
    animation-duration: 3s;
    animation-name: slidein;
}
h3{
    font-weight: 100 ;
    font-size: 30px;

    color: #efe44a;
    animation-duration: 3s;
    animation-name: slidein;

}


.sub{
    color:#FFF;
}
select{
    cursor: pointer; 
    border: 1px solid #ccc; 
    background: #eee; 
    border-radius: 20px 20px 20px 20px; 
    height: 50px;
    width: 300px;

    font-size: 20px;
}

form{
    background-color: #0e1753;
    border-radius: 30px;
    padding-top: 100px;
    padding-block-end: 120px;
    text-align: center;
}

input { 
    cursor: pointer; 
    border: 1px solid #ccc; 
    background: #eee; 
    border-radius: 20px 20px 20px 20px; 
    height: 50px;
    width: 300px;

    font-size: 20px;
    
} 

.radio{
    width: 100px ;
    height: 25px;
    
}

label{
    font-size: 25px;
    color: #efe44a;;
}


@keyframes slidein {
    from {
      margin-left: 0%;
      width:300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  